recordcount=RECORDCOUNT_Placeholder
operationcount=0
workload=com.yahoo.ycsb.workloads.CoreWorkload

readallfields=true
writeallfields=true
fieldlength=128
fieldcount=1

readproportion=READPROPORTION_Placeholder
updateproportion=UPDATEPROPORTION_Placeholder
scanproportion=0
insertproportion=0

requestdistribution=REQUESTDISTRIBUTION_Placeholder
hotspotdatafraction=HOTSPOTDATAFRACTION_Placeholder
hotspotopnfraction=0.8

insertstart=INSERTSTART_Placeholder
insertcount=INSERTCOUNT_Placeholder
